<div class="p-2 m-2 rounded" style="background-color:#edf3fc">
  <%= form_with(model: tran_group) do |form| %>
    <% if tran_group.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(tran_group.errors.count, "error") %> prohibited this tran_group from being saved:</h2>
        <ul>
          <% tran_group.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :icon, style: "display: block" %>
      <%= form.select :icon, options_for_select([
          ['Select an icon', ''],
          ['Rent', '<i class="bi bi-house-fill" style="font-size: 2rem; color: cornflowerblue;"></i>'],
          ['Transport','<i class="bi bi-bus-front" style="font-size: 2rem; color: cornflowerblue;"></i>'],
          ['Tour','<i class="bi bi-luggage" style="font-size: 2rem; color: cornflowerblue;"></i>'],
          ['Shopping','<i class="bi bi-bag-fill" style="font-size: 2rem; color: cornflowerblue;"></i>'],
          ['Grocery','<i class="bi bi-cart-check-fill" style="font-size: 2rem; color: cornflowerblue;"></i>'],
          ]) %>
    </div>
    <br />
    <div>
      <%= form.submit "Create Group", class: "btn btn-outline-success"%>
      <%= link_to "Back Index", tran_groups_path, class: "btn btn-outline-warning" %>
    </div>
  <% end %>
</div>
