<div class="p-2 m-2 border border-dark rounded bg-white" id="<%= dom_id tran_group %>">
  <a style="text-decoration: none"href="<%= tran_group_details_path(tran_group, @tran_group) %>">
    <div class="d-flex flex-row bd-highlight">
      <div class="d-flex flex-row p-2 w-100 bd-highlight">
        <div>
          <%= raw tran_group.icon %>
        </div>
        <div class="ps-4" style="color:#919294">
          <h4> <%= tran_group.name %></h4>
          <span style="font-size: 12px"> <%= tran_group.created_at.to_date %></span>
        </div>
      </div>
      <% @total_value = Detail.where(author_id: current_user, tran_group_id: tran_group.id).sum(:amount)%>
      <div class="p-2 flex-shrink-1 bd-highlight" style="color:#434b54">
        <h5> $<%= @total_value %></h5>
      </div>
    </div>
  </a>
</div>
