<p style="color: green"><%= notice %></p>

<%= render @tran_group %>

<div>
  <%= link_to "Edit this tran group", edit_tran_group_path(@tran_group) %> |
  <%= link_to "Back to tran groups", tran_groups_path %>

  <%= button_to "Destroy this tran group", @tran_group, method: :delete %>
</div>
