<div class="p-2 m-2 rounded" style="background-color:#edf3fc">
  <h2>GROUP TRANSACTIONS</h2>
  <div class="d-flex flex-row-reverse bd-highlight" style="background-color:#3778c2">
    <div class="p-3 bd-highlight" style="color:#9cb8db">Most ancient</div>
    <div class="p-3 bd-highlight" style="color:#c1d2e8">Most recent</div>
  </div>
  <div class="d-flex flex-row-reverse bd-highlight bg-white">
    <div class="p-2 bd-highlight">$00.0</div>
    <div class="p-2 bd-highlight">Gift credit</div>
  </div>
  <br/>
  <% @group_name = TranGroup.find(params[:tran_group_id]) %>
  <h5><strong>Group Name: </strong> <%= @group_name.name %></h5>
  <h5 style="color:skyblue"><strong>Group Total :</strong> <%= @total_value %></h5>
  <div id="details">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Transection Details</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @details.each do |tran|%>
          <tr>
            <td scope="row"><%= tran.created_at.to_date%></td>
            <td scope="row"><%= tran.itemDetails %></td>
            <td scope="row">$<%= tran.amount %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <div class="p-2 d-flex justify-content-center" style="background-color:#5fb523">
    <%= link_to "Create Transaction", new_tran_group_detail_path, class: "btn btn-outline-primary" %>
    <%= link_to "Back Index", tran_groups_path, class: "btn btn-outline-primary" %>
  </div>
</div>
